<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cafesofiareal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".InterfazComentariosActivity"></activity>
        <activity android:name=".vieww.ui.activities.ComentariosActivity" />
        <activity android:name=".vieww.ui.activities.Producto4Activity" />
        <activity android:name=".vieww.ui.activities.Producto3Activity" />
        <activity android:name=".vieww.ui.activities.Producto2Activity" />
        <activity android:name=".vieww.ui.activities.Producto1Activity" />
        <activity android:name=".vieww.ui.activities.EditarPerfilActivity" />
        <activity android:name=".vieww.ui.activities.Pedidos2Activity" />
        <activity android:name=".vieww.ui.activities.PedidosActivity" />
        <activity android:name=".vieww.ui.activities.RegistroActivity" />
        <activity android:name=".vieww.ui.activities.LoginActivity" />
        <activity android:name=".vieww.ui.activities.InformacionActivity" />
        <activity android:name=".vieww.ui.activities.PerfilActivity" />
        <activity android:name=".vieww.ui.activities.HomeActivity" />
        <activity android:name=".vieww.ui.activities.ConfiguracionActivity" />
        <activity android:name=".vieww.ui.activities.MainActivity" />
        <activity android:name=".vieww.ui.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXcmE42eOSv0bqDEm6ZfOh9eFe3snPAXw" />
    </application>

</manifest>